{% load static %}
{% load slick_reporting_tags %}
{% load unicorn %}
{% unicorn_scripts %}
{% load humanize %}

<style>
    div.scrollregion {
        margin: 4px, 4px;
        padding: 4px;
        width: auto;
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: justify;
    }
</style>
 {% csrf_token %}

<div x-data="{
    pres_id:0, region_id:0, district_id:0, start_date: (new Date()).setMonth( (new Date()).getMonth() - 1 ), end_date: new Date(),
    params: () => new URLSearchParams({pres:0, region:0, district:0, start_date: null, end_date: null}),
    updateParams(){
        this.params = new URLSearchParams({pres: this.pres_id, region:this.region_id, district:this.district_id, start_date: this.start_date, end_date: this.end_date})
    },
    stats: {sumTotalVisite: 0, sumTotalRecette:0, total_recouvrement:0, total_cmu:0, total_acte_reduit: 0, total_cas_sociaux:0},
     async filter(){
       const response = await (await fetch('/dash/api/synthese/?'+this.params.toString())).json()
       console.log(typeof(response[0]))

       this.stats.sumTotalVisite = 0;
       this.stats.sumTotalRecette = 0;
       this.stats.total_recouvrement = 0;
       this.stats.total_cmu = 0;
       this.stats.total_acte_reduit = 0;
       this.stats.total_cas_sociaux = 0;

       response.forEach((syn)=>{
           this.stats.sumTotalVisite += syn.total_visite
           this.stats.sumTotalRecette += parseFloat(syn.total_recette)
           this.stats.total_recouvrement += parseFloat(syn.total_recouvrement)
           this.stats.total_cmu += parseFloat(syn.total_cmu)
           this.stats.total_acte_reduit += parseFloat(syn.total_acte_reduit)
           this.stats.total_cas_sociaux += parseFloat(syn.total_cas_sociaux)
       })
        this.stats.sumTotalVisite = numberWithCommas(this.stats.sumTotalVisite)
        this.stats.sumTotalRecette = numberWithCommas(this.stats.sumTotalRecette)
        this.stats.total_recouvrement = numberWithCommas(this.stats.total_recouvrement)
        this.stats.total_cmu = numberWithCommas(this.stats.total_cmu)
        this.stats.total_acte_reduit = numberWithCommas(this.stats.total_acte_reduit)
        this.stats.total_cas_sociaux = numberWithCommas(this.stats.total_cas_sociaux)

    }
    }" id="unicorn-filters" data-unicorn="unicorn-filters">

    <div class="row">
<form method="GET" unicorn:submit.prevent="update_filters" x-init="filter()">
    {% csrf_token %}
    <div class="row p-3">
        <!-- Date de début -->
        <div class="col-md-6 col-sm-6 mb-2">
            <div class="input-group">
                <span class="input-group-text text-white bg-secondary">De</span>
                <input type="date" id="start_date" unicorn:model="start_date" x-model="start_date" x-bind:value="formatDate(start_date)" x-on:change="updateParams()" class="form-control">
            </div>
        </div>

        <!-- Date de fin -->
        <div class="col-md-6 col-sm-6 mb-2">
            <div class="input-group">
                <span class="input-group-text text-white bg-secondary">À</span>
                <input type="date" id="end_date" unicorn:model="end_date" x-model="end_date" x-on:change="updateParams()" class="form-control">
            </div>
        </div>

        <!-- Filtre par Pôle -->
        <div class="col-md-3 col-sm-3 mb-2">
            <div class="input-group">
                <span class="input-group-text text-white bg-secondary">Pôle</span>
                <select id="pres" unicorn:model="pres_id" class="form-control" x-model="pres_id" x-on:change="region_id='Choisir une valeure'; district_id='Choisir une valeure'; updateParams() ">
                    <option value="">Sélectionner un Pôle</option>
                    {% for pres in pres %}
                        <option value="{{ pres.id }}">{{ pres.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Filtre par Région -->
        <div class="col-md-3 col-sm-3 mb-2">
            <div class="input-group">
                <span class="input-group-text text-white bg-secondary">Région</span>
                <select id="region" unicorn:model="region_id" class="form-control" x-model="region_id" x-on:change="district_id='Choisir une valeure'; updateParams()">
                    <option value="">Sélectionner une Région</option>
                    {% for region in regions %}
                        <option x-show="{{ region.poles.id }} == pres_id " value="{{ region.id }}">{{ region.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Filtre par District -->
        <div class="col-md-3 col-sm-3 mb-2">
            <div class="input-group">
                <span class="input-group-text text-white bg-secondary">District</span>
                <select id="district" unicorn:model="district_id" class="form-control" x-model="district_id" x-on:change="updateParams()" >
                    <option value="">Sélectionner un District</option>
                    {% for district in districts %}
                        <option x-show="{{ district.region.id }} == region_id " value="{{ district.id }}">{{ district.nom }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Bouton de soumission -->
        <div class="col-md-3 col-sm-6 mb-2">
            <button  x-on:click.prevent="filter()" class="form-control bg-secondary text-white">Filter</button>
        </div>
    </div>
</form>
    </div>
    <div class="row p-3">
        <!-- Total Visites -->
        <div class="col-md-3 col-sm-6">
            <div class="card statistics-card-1 overflow-hidden bg-brand-color-2">
                <div class="card-body">
                    <img src="{% static 'assets/images/widget/img-status-4.svg' %}" alt="img" class="img-fluid img-bg"/>
                    <h5 class="mb-4">Total Visites</h5>
                    <div class="d-flex align-items-center mt-3">
                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><span x-text="stats.sumTotalVisite"></span></h3>
                        {#                        <span class="badge bg-light-success ms-2">{{ percentage_visites }}%</span>#}
                    </div>
                    {#                    <p class="text-muted mb-2 text-sm mt-3">You made an extra {{ extra_visites }} this daily</p>#}
                    {#                    <div class="progress" style="height: 7px">#}
                    {#                        <div class="progress-bar bg-brand-color-3" role="progressbar" style="width: {{ progress_visites }}%" aria-valuenow="{{ progress_visites }}"#}
                    {#                             aria-valuemin="0" aria-valuemax="100"></div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>

        <!-- Total Recette -->
        <div class="col-md-3 col-sm-6">
            <div class="card statistics-card-1 overflow-hidden bg-brand-color-1">
                <div class="card-body">
                    <img src="{% static 'assets/images/widget/img-status-5.svg' %}" alt="img" class="img-fluid img-bg"/>
                    <h5 class="mb-4">Total Recette</h5>
                    <div class="d-flex align-items-center mt-3">
                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><span x-text="stats.sumTotalRecette"></span> CFA</h3>
                        {#                        <span class="badge bg-light-primary ms-2">{{ percentage_recette }}%</span>#}
                    </div>
                    {#                    <p class="text-muted mb-2 text-sm mt-3">You made an extra {{ extra_recette }} this Monthly</p>#}
                    {#                    <div class="progress" style="height: 7px">#}
                    {#                        <div class="progress-bar bg-brand-color-3" role="progressbar" style="width: {{ progress_recette }}%" aria-valuenow="{{ progress_recette }}"#}
                    {#                             aria-valuemin="0" aria-valuemax="100"></div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>

        <!-- Total Recouvrement -->
        <div class="col-md-3 col-sm-6">
            <div class="card statistics-card-1 overflow-hidden bg-brand-color-3">
                <div class="card-body">
                    <img src="{% static 'assets/images/widget/img-status-5.svg' %}" alt="img" class="img-fluid img-bg"/>
                    <h5 class="mb-4">Total Recouvrement</h5>
                    <div class="d-flex align-items-center mt-3">
                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><span x-text="stats.total_recouvrement"></span>
                            CFA</h3>
                        {#                        <span class="badge bg-light-primary ms-2">{{ percentage_recouvrement }}%</span>#}
                    </div>
                    {#                    <p class="text-muted mb-2 text-sm mt-3">You made an extra {{ extra_recouvrement }} this Monthly</p>#}
                    {#                    <div class="progress" style="height: 7px">#}
                    {#                        <div class="progress-bar bg-brand-color-3" role="progressbar" style="width: {{ progress_recouvrement }}%" aria-valuenow="{{ progress_recouvrement }}"#}
                    {#                             aria-valuemin="0" aria-valuemax="100"></div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>

        <!-- Total CMU -->
        <div class="col-md-3 col-sm-12">
            <div class="card statistics-card-1 overflow-hidden bg-brand-color-4">
                <div class="card-body">
                    <img width="100" src="{% static 'assets/images/logo_cnam.png' %}" alt="img"
                         class="img-fluid img-bg"/>
                    <h5 class="mb-4 text-dark">Total CMU</h5>
                    <div class="d-flex align-items-center mt-3">
                        <h3 class="text-dark f-w-300 d-flex align-items-center m-b-0"><span x-text="stats.total_cmu"></span>
                            CFA</h3>
                    </div>
                    {#                    <p class="text-white text-opacity-75 mb-2 text-sm mt-3">You made an extra {{ extra_cmu }} this Daily</p>#}
                    {#                    <div class="progress bg-white bg-opacity-10" style="height: 7px">#}
                    {#                        <div class="progress-bar bg-white" role="progressbar" style="width: {{ progress_cmu }}%" aria-valuenow="{{ progress_cmu }}" aria-valuemin="0"#}
                    {#                             aria-valuemax="100"></div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card statistics-card-1 overflow-hidden">
                <div class="card-body">
                    <img src={% static "assets/images/widget/img-status-7.svg" %} alt="img" class="img-fluid img-bg"/>
                    <div class="d-flex align-items-center">
                        {#          <img src={% static "assets/images/widget/img-facebook.svg" %} alt="img" class="img-fluid" />#}
                        <div class="flex-grow-1 ms-3">
                            <p class="mb-0 text-muted">Total acte Reduit</p>
                            <div class="d-inline-flex align-items-center">
                                <h5 class="f-w-300 d-flex align-items-center m-b-0"><span x-text="stats.total_acte_reduit"></span> CFA</h5>
                                {#              <span class="badge bg-success ms-2">+7.2%</span>#}
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mt-5 text-center">
                        <div class="col-6">
                            <p class="mb-0 text-muted">Objectif</p>
                            <h5 class="mb-0">Non définit</h5>
                        </div>
                        <div class="col-6 border-start">
                            <p class="mb-0 text-muted">Période</p>
                            <h5 class="mb-0">Non définit</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card statistics-card-1 overflow-hidden">
                <div class="card-body">
                    <img src={% static "assets/images/widget/img-status-8.svg" %} alt="img" class="img-fluid img-bg"/>
                    <div class="d-flex align-items-center">
                        {#          <img src={% static "assets/images/widget/img-google.svg" %} alt="img" class="img-fluid" />#}
                        <div class="flex-grow-1 ms-3">
                            <p class="mb-0 text-muted">Total cas Sociaux</p>
                            <div class="d-inline-flex align-items-center">
                                <h5 class="f-w-300 d-flex align-items-center m-b-0"><span x-text="stats.total_cas_sociaux"></span> CFA</h5>
                                {#              <span class="badge bg-success ms-2">+5.9%</span>#}
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mt-5 text-center">
                        <div class="col-6">
                            <p class="mb-0 text-muted">Objectif</p>
                            <h5 class="mb-0">Non définit</h5>
                        </div>
                        <div class="col-6 border-start">
                            <p class="mb-0 text-muted">Période</p>
                            <h5 class="mb-0">Non définit</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xl-4">
            <div class="card statistics-card-1 overflow-hidden">
                <div class="card-body">
                    <img src={% static "assets/images/widget/img-status-9.svg" %} alt="img" class="img-fluid img-bg"/>
                    <div class="d-flex align-items-center">
                        {#          <img src={% static "assets/images/widget/img-twitter.svg" %} alt="img" class="img-fluid" />#}
                        <div class="flex-grow-1 ms-3">
                            <p class="mb-0 text-muted">Total Gratuite Ciblee </p>
                            <div class="d-inline-flex align-items-center">
                                <h5 class="f-w-300 d-flex align-items-center m-b-0">{{ total_gratuite_ciblee }} CFA</h5>
                                {#              <span class="badge bg-success ms-2">+6.2%</span>#}
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mt-5 text-center">
                        <div class="col-6">
                            <p class="mb-0 text-muted">Objectif</p>
                            <h5 class="mb-0">Non définit</h5>
                        </div>
                        <div class="col-6 border-start">
                            <p class="mb-0 text-muted">Période</p>
                            <h5 class="mb-0">Non définit</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-4">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between py-3">
                    <h5>Repartition par Pôles Régionaux d'Excellence Santé </h5>
                    <div class="dropdown">
                        <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none" href="#"
                           data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i
                                class="material-icons-two-tone f-18">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="accordion accordion-flush " id="accordionFlushExample">
                        {% for pole in poles %}
                            <div class="accordion-item ">
                                <h2 class="accordion-header" id="flush-heading-{{ forloop.counter }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse-{{ forloop.counter }}" aria-expanded="false"
                                            aria-controls="flush-collapse-{{ forloop.counter }}">
                                        <span class="badge bg-primary text-white float-left position-relative m-r-10">{{ pole.total_recette|floatformat:0 }} CFA</span>{{ pole.name }}
                                    </button>
                                </h2>


                                <div id="flush-collapse-{{ forloop.counter }}" class="accordion-collapse collapse "
                                     aria-labelledby="flush-heading-{{ forloop.counter }}"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="scrollregion bg-light-secondary">
                                        <div class="accordion-body">
                                            {% for region in pole.healthregion_set.all %}
                                                <strong class="mb-2 mt-2">{{ region.name }}<span
                                                        style="font-size: small"
                                                        class="badge bg-dark text-white float-right m-l-5 ">{{ region.total_recette|floatformat:0 }} CFA</span></strong>
                                                <ul class="list-group mt-2">


                                                    {% for district in region.districtsanitaire_set.all %}

                                                        <div class="col-md-12 ">
                                                            <ol class="list-group ">
                                                                <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
                                                                    <div class="ms-2 me-auto">
                                                                        <div class="fw-bold text-primary">{{ district.nom }}</div>
                                                                        <ul class="m-r-5">
                                                                            {% for centre in district.servicesanitaire_set.all %}
                                                                                <li class="text-dark ">{{ forloop.counter }}-- {{ centre.nom }} </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                    <span class="badge bg-primary rounded-pill">{{ district.total_recette|floatformat:0 }} CFA</span>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    {% endfor %}

                                                </ul>





                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="earnings-users-chart"></div>
                </div>
            </div>
            {#    <div class="card">#}
            {#      <div class="card-body">#}
            {#        <div class="row">#}
            {#          <div class="col-6">#}
            {#            <div class="d-flex align-items-center">#}
            {#              <div class="avtar avtar-s bg-light-warning flex-shrink-0">#}
            {#                <i class="ph-duotone ph-lightning f-20"></i>#}
            {#              </div>#}
            {#              <div class="flex-grow-1 ms-2">#}
            {#                <p class="mb-0 text-muted">Total ideas</p>#}
            {#                <h6 class="mb-0">235</h6>#}
            {#              </div>#}
            {#            </div>#}
            {#          </div>#}
            {#          <div class="col-6">#}
            {#            <div class="d-flex align-items-center">#}
            {#              <div class="avtar avtar-s bg-light-danger flex-shrink-0">#}
            {#                <i class="ph-duotone ph-map-pin f-20"></i>#}
            {#              </div>#}
            {#              <div class="flex-grow-1 ms-2">#}
            {#                <p class="mb-0 text-muted">Total location</p>#}
            {#                <h6 class="mb-0">26</h6>#}
            {#              </div>#}
            {#            </div>#}
            {#          </div>#}
            {#        </div>#}
            {#      </div>#}
            {#    </div>#}
        </div>
        <div class="col-md-7 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5>Cartographie des centres de santé connectés au SIH/DPI</h5>
                </div>
                <div class="card-body">
                    {#           <div id="carteCI" class="map" style="height: 400px; width: 100%;"></div>#}
                    <div id="map"></div>
                </div>
                <div class="card-footer">
                    <h5>Legendes</h5>
                </div>
            </div>
        </div>


        <div class="col-md-12 col-xl-12">
            <div class="card table-card">
                <div class="card-header d-flex align-items-center justify-content-between py-3">
                    <h5>Top 5 des Districts par Performance</h5>
                </div>
                <div class="card-body py-2 px-0">
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless table-sm mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>District</th>
                                <th>Total Visites</th>
                                <th>Total Recette</th>
                                <th>Total Recouvrement</th>
                                <th>Total CMU</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for district in top_districts %}
                                <tr>
                                    <td>{{ forloop.counter|ordinal }}</td>
                                    <td>{{ district.centre_sante__district__nom }}</td>
                                    <td>{{ district.total_visite }}</td>
                                    <td>{{ district.total_recette|floatformat:0 }}</td>
                                    <td>{{ district.total_recouvrement|floatformat:0 }}</td>
                                    <td>{{ district.total_cmu|floatformat:0 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <!-- Total Visite Chart -->
        <div class="col-md-6 col-xl-6">
            <div class="card table-card">
                <div class="card-header d-flex align-items-center justify-content-between py-3">
                    <h5>Total Visites by Centre de Santé</h5>
                </div>
                <div class="card-body py-2 px-0">
                    <div class="table-responsive">
                        <canvas id="visiteChart" width="400" height="200"></canvas>
                    </div>

                </div>
            </div>
        </div>

        <!-- Total Recette Chart -->
        <div class="col-md-6 col-xl-6">
            <div class="card table-card">
                <div class="card-header d-flex align-items-center justify-content-between py-3">
                    <h5>Total Recette by Centre de Santé</h5>
                </div>
                <div class="card-body py-2 px-0">
                    <div class="table-responsive">
                        <canvas id="recetteChart" width="400" height="200"></canvas>
                    </div>

                </div>
            </div>
        </div>


        <!-- CMU Chart -->

        <div class="col-md-6 col-xl-6">
            <div class="card table-card">
                <div class="card-header d-flex align-items-center justify-content-between py-3">
                    <h5>Total CMU by Centre de Santé</h5>
                </div>
                <div class="card-body py-2 px-0">
                    <div class="table-responsive">
                        <canvas id="cmuChart" width="400" height="200"></canvas>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
<script>

    function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
}

function formatDate(date) {
    date = new Date(date)
    let year = date.getFullYear();
    let month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
    let day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
}
</script>
