{% load static %}
{% load slick_reporting_tags %}
{% load unicorn %}
{% unicorn_scripts %}
{% load humanize %}

<style>

    /* Rend la carte responsive */
    .map-responsive {
        width: 100%;
        height: 400px;
    }

    /* Ajuste la taille de la carte sur les petits écrans */
    @media (max-width: 576px) {
        .map-responsive {
            height: 300px;
        }
    }

    @media (max-width: 768px) {
        .map-responsive {
            height: 350px;
        }
    }
    div.scrollregion {
        margin: 4px, 4px;
        padding: 4px;
        width: auto;
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: justify;
    }

    .form-row .form-group {
        margin-bottom: 0;
    }

    .groupf label {
        margin-right: 10px;
    }

    /* Effet de flou */
    .blur-sm {
        filter: blur(5px); /* Applique un flou de 5px */
        transition: filter 0.3s ease; /* Transition douce */
    }

    /* Masquer les interactions pendant le chargement */
    .pointer-events-none {
        pointer-events: none;
    }

    /* Style pour le spinner */
    .loader {
        border: 6px solid #f3f3f3;
        border-top: 6px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    /* Animation pour le spinner */
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
{% csrf_token %}


<div x-data="{
    pres_id: 0,
    region_id: 0,
    district_id: 0,
    type_service_id: 0,  // Assurez-vous que ce champ est correctement initialisé
{#    start_date: formatDate((new Date()).setMonth((new Date()).getMonth() - 1)),#}
{#    end_date: formatDate(new Date()),#}
    start_date: formatDate(new Date(new Date().getFullYear(), new Date().getMonth(), 1)), // Début du mois en cours
    end_date: formatDate(new Date()), // Date actuelle
    isLoading: false,
    params: new URLSearchParams(),
    stats: {
        poles: [],
        regions: [],
        districts: [],
        centres: [],
        sumTotalVisite: 0,
        sumTotalRecette: 0,
        total_recouvrement: 0,
        total_cmu: 0,
        total_acte_reduit: 0,
        total_cas_sociaux: 0,
        total_gratuite_ciblee: 0,
        total_hors_cmu: 0
    },

    updateParams(){
        this.params = new URLSearchParams({
            pres: this.pres_id,
            region: this.region_id,
            district: this.district_id,
            start_date: this.start_date,
            end_date: this.end_date,
            type_service: this.type_service_id  // Ajout du filtre par type de service
        });
    },

    async filter(){
        this.isLoading = true;
        this.updateParams();

        try {
            const response = await fetch('/dash/api/synthese/?' + this.params.toString());
            const data = await response.json();

            if (data && data.poles) {
                this.stats.poles = data.poles || [];
                this.stats.regions = data.regions || [];
                this.stats.districts = data.districts || [];
                this.stats.centres = data.centres || [];

                this.resetStats();
                this.clearMap();

                data.centres.forEach((syn) => {
                    this.stats.sumTotalVisite += syn.total_visite || 0;
                    this.stats.sumTotalRecette += parseFloat(syn.total_recette) || 0;
                    this.stats.total_recouvrement += parseFloat(syn.total_recouvrement) || 0;
                    this.stats.total_cmu += parseFloat(syn.total_cmu) || 0;
                    this.stats.total_acte_reduit += parseFloat(syn.total_acte_reduit) || 0;
                    this.stats.total_cas_sociaux += parseFloat(syn.total_cas_sociaux) || 0;
                    this.stats.total_gratuite_ciblee += parseFloat(syn.total_gratuite_ciblee) || 0;
                    this.stats.total_hors_cmu += parseFloat(syn.total_hors_cmu) || 0;

                    this.addMarker(syn);
                });
            } else {
                console.error('Aucune donnée reçue.');
            }
        } catch (error) {
            console.error('Erreur lors du chargement des données :', error);
        } finally {
            this.isLoading = false;
        }
    },

   zoomLocalite(data) {
        try {
            let geometry = JSON.parse(data.geometry);

            if (geometry && geometry.coordinates) {
                // Vérification si la géométrie est de type Point, Polygon, etc.
                let coords;
                if (geometry.type === 'Point') {
                    coords = geometry.coordinates;
                } else if (geometry.type === 'Polygon') {
                    // Pour un polygone, on utilise le premier point du polygone
                    coords = geometry.coordinates[0][0];
                } else if (geometry.type === 'MultiPolygon') {
                    // Pour un MultiPolygon, on utilise le premier point du premier polygone
                    coords = geometry.coordinates[0][0][0];
                }

                if (coords && coords.length === 2) {
                    // Utiliser les coordonnées pour centrer la carte
                    let lng = coords[0];
                    let lat = coords[1];

                    map.setView([lat, lng], 11, {animation: true});
                } else {
                    console.error('Coordonnées invalides pour cette localité');
                }
            } else {
                console.error('Géométrie non trouvée ou mal formatée');
            }
        } catch (error) {
            console.error('Erreur lors de l\'analyse de la géométrie:', error);
        }
    },


    resetStats() {
        this.stats.sumTotalVisite = 0;
        this.stats.sumTotalRecette = 0;
        this.stats.total_recouvrement = 0;
        this.stats.total_cmu = 0;
        this.stats.total_acte_reduit = 0;
        this.stats.total_cas_sociaux = 0;
        this.stats.total_gratuite_ciblee = 0;
        this.stats.total_hors_cmu = 0;
    },

    clearMap() {
        map.eachLayer(layer => {
            if (layer instanceof L.Marker || layer instanceof L.GeoJSON) {
                map.removeLayer(layer);
            }
        });
    },

    addMarker(synthese) {
    const centreNom = synthese.centre_sante__nom;
    const geometry = JSON.parse(synthese.geometry);

    if (!geometry || !geometry.coordinates) {
        console.error(`Géométrie invalide pour le centre : ${centreNom || 'Nom non disponible'}`);
        return;
    }



    const [lng, lat] = geometry.coordinates;

    if (!lng || !lat) {
        console.error(`Coordonnées manquantes pour le centre : ${centreNom}`);
        return;
    }

    // Ajout du marqueur sur la carte
    const marker = L.marker([lat, lng])
        .addTo(map)
        .bindPopup(`
            <b>${centreNom || 'Nom inconnu'}</b><br>
            Type: ${synthese.centre_sante__type__acronyme || 'Type inconnu'}<br>
            Total Visite: ${synthese.total_visite.toLocaleString('fr-FR')}<br>
            Total Recette: ${synthese.total_recette.toLocaleString('fr-FR')} CFA<br>
            Total Recouvrement: ${synthese.total_recouvrement.toLocaleString('fr-FR')} CFA<br>
            Total Gratuite Ciblee: ${synthese.total_gratuite_ciblee.toLocaleString('fr-FR')} CFA<br>
            Total Total cas Sociaux: ${synthese.total_cas_sociaux.toLocaleString('fr-FR')} CFA<br>
            Total Total Acte Reduit: ${synthese.total_acte_reduit.toLocaleString('fr-FR')} CFA<br>
            Total Total CMU: ${synthese.total_cmu.toLocaleString('fr-FR')} CFA<br>
            Total Total hors CMU: ${synthese.total_hors_cmu.toLocaleString('fr-FR')} CFA<br>
        `);

    // Centrer et zoomer sur le centre de santé
}
}" id="unicorn-filters">

    <div class="row">
        <form method="GET" unicorn:submit.prevent="update_filters" x-init="filter()">
            {% csrf_token %}
            <div class="row p-3 gy-3">

                <!-- Date de début -->
                <div class="col-md-6 col-sm-6 col-12">
                    <div class="input-group">
                        <span class="input-group-text text-white bg-secondary">De</span>
                        <input type="date" id="start_date" unicorn:model="start_date" x-model="start_date" x-bind:value="formatDate(start_date)" x-on:change="updateParams()" class="form-control">
                    </div>
                </div>

                <!-- Date de fin -->
                <div class="col-md-6 col-sm-6 col-12">
                    <div class="input-group">
                        <span class="input-group-text text-white bg-secondary">À</span>
                        <input type="date" id="end_date" unicorn:model="end_date" x-model="end_date"
                               x-on:change="updateParams()" class="form-control">
                    </div>
                </div>

                <!-- Filtre par Pôle -->
                <div class="col-md-2 col-sm-6 col-12">
                    <div class="input-group">
                        <span class="input-group-text text-white bg-secondary">Pôle</span>
                        <select id="pres" unicorn:model="pres_id" class="form-control" x-model="pres_id"
                                x-on:change="region_id=0; district_id=0; updateParams() ">
                            <option value="">Sélectionner un Pôle</option>
                            {% for pres in pres %}
                                <option value="{{ pres.id }}">{{ pres.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Filtre par Région -->
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="input-group">
                        <span class="input-group-text text-white bg-secondary">Région</span>
                        <select id="region" unicorn:model="region_id" class="form-control" x-model="region_id"
                                x-on:change="district_id=0; updateParams()">
                            <option value="">Sélectionner une Région</option>
                            {% for region in regions %}
                                <option x-show="{{ region.poles.id }} == pres_id "
                                        value="{{ region.id }}">{{ region.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Filtre par District -->
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="input-group">
                        <span class="input-group-text text-white bg-secondary">District</span>
                        <select id="district" unicorn:model="district_id" class="form-control" x-model="district_id"
                                x-on:change="updateParams()">
                            <option value="">Sélectionner un District</option>
                            {% for district in districts %}
                                <option x-show="{{ district.region.id }} == region_id "
                                        value="{{ district.id }}">{{ district.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Filtre par Type -->
                <div class="col-md-2 col-sm-6 col-12">
                    <div class="input-group">
                        <span class="input-group-text text-white bg-secondary">Type</span>
                        <select id="type_service_id" unicorn:model="type_service_id" class="form-control"
                                x-model="type_service_id">
                            <option value="">Sélectionner un Type</option>
                            {% for type in type_service %}
                                <option value="{{ type.id }}">{{ type.acronyme }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Bouton de soumission -->
                <div class="col-md-1 col-sm-6 col-12">
                    <button x-on:click.prevent="filter(); isLoading=true" class="form-control bg-primary text-white">
                        Filtrer
                    </button>
                </div>

                <!-- Bouton de réinitialisation -->
                <div class="col-md-1 col-sm-6 col-12">
                    <div x-data="filterComponent()" class="container">
                        <button x-on:click.prevent="resetFilters()" class="form-control bg-secondary text-white">Reset
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


{#    <div x-show="isLoading" x-transition:enter="transition-opacity ease-in duration-500"#}
{#         x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"#}
{#         x-transition:leave="transition-opacity ease-out duration-500"#}
{#         x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"#}
{#         class="absolute inset-0 flex justify-center items-center bg-white bg-opacity-50" style="text-align: center">#}
{#        <div class="spinner-border text-danger" style="width: 8rem; height: 8rem" role="status">#}
{#            <span class="visually-hidden">Chargement des donnees...</span>#}
{#        </div>#}
{#    </div>#}
<div x-show="isLoading"
     x-transition:enter="transition-opacity ease-in duration-500"
     x-transition:enter-start="opacity-0"
     x-transition:enter-end="opacity-100"
     x-transition:leave="transition-opacity ease-out duration-500"
     x-transition:leave-start="opacity-100"
     x-transition:leave-end="opacity-0"
     class="absolute inset-0 flex justify-center items-center bg-white bg-opacity-50" style="text-align: center">
    <img src="{% static 'assets/images/logoMSHPCMU.svg' %}" alt="Chargement des données..." class="animate-fade" style="width: 8rem; height: 8rem;">
</div>

    <div x-bind:class="{'blur-sm': isLoading, 'pointer-events-none': isLoading}" class="stats mt-3 relative">
        <div class="row p-3">
            <div class="col-md-12 col-sm-12">
                 <div class="row p-3">
            <div class="col-md-3 col-sm-6">
                <div class="card statistics-card-1 overflow-hidden bg-brand-color-2">
                    <div class="card-body">
                        <img src="{% static 'assets/images/widget/img-status-4.svg' %}" alt="img"
                             class="img-fluid img-bg"/>
                        <h5 class="mb-4">Visites</h5>
                        <div class="d-flex align-items-center mt-3">
                            <h2 class="f-w-300 d-flex align-items-center m-b-0"><span x-text="stats.sumTotalVisite.toLocaleString('fr-FR')"></span></h2>
                            {#                        <span class="badge bg-light-success ms-2">{{ percentage_visites }}%</span>#}
                        </div>
                        {#                    <p class="text-muted mb-2 text-sm mt-3">You made an extra {{ extra_visites }} this daily</p>#}
                        {#                    <div class="progress" style="height: 7px">#}
                        {#                        <div class="progress-bar bg-brand-color-3" role="progressbar" style="width: {{ progress_visites }}%" aria-valuenow="{{ progress_visites }}"#}
                        {#                             aria-valuemin="0" aria-valuemax="100"></div>#}
                        {#                    </div>#}
                    </div>
                </div>
            </div>

            <!--Total Recette -->
            <div class="col-md-3 col-sm-6">
                <div class="card statistics-card-1 overflow-hidden bg-brand-color-1">
                    <div class="card-body">
                        <img src="{% static 'assets/images/widget/img-status-5.svg' %}" alt="img"
                             class="img-fluid img-bg"/>
                        <h5 class="mb-4">Recettes</h5>
                        <div class="d-flex align-items-center mt-3">
                            <h2 class="f-w-300 d-flex align-items-center m-b-0">
                                <span x-text="stats.sumTotalRecette.toLocaleString('fr-FR')"></span> <span style="margin-left: 10px"> F CFA</span></h2>
                            {#                        <span class="badge bg-light-primary ms-2">{{ percentage_recette }}%</span>#}
                        </div>
                        {#                    <p class="text-muted mb-2 text-sm mt-3">You made an extra {{ extra_recette }} this Monthly</p>#}
                        {#                    <div class="progress" style="height: 7px">#}
                        {#                        <div class="progress-bar bg-brand-color-3" role="progressbar" style="width: {{ progress_recette }}%" aria-valuenow="{{ progress_recette }}"#}
                        {#                             aria-valuemin="0" aria-valuemax="100"></div>#}
                        {#                    </div>#}
                    </div>
                </div>
            </div>

            <!--Total Recouvrement -->

            <div class="col-md-3 col-sm-6">
                <div class="card statistics-card-1 overflow-hidden bg-brand-color-3">
                    <div class="card-body">
                        <img src="{% static 'assets/images/widget/img-status-5.svg' %}" alt="img"
                             class="img-fluid img-bg"/>
                        <h5 class="mb-4">Recouvrements</h5>
                        <div class="d-flex align-items-center mt-3">
                            <h2 class="f-w-300 d-flex align-items-center m-b-0"><span x-text="stats.total_recouvrement.toLocaleString('fr-FR')"></span>
                                <span style="margin-left: 10px">F CFA</span></h2>
                            {#                        <span class="badge bg-light-primary ms-2">{{ percentage_recouvrement }}%</span>#}
                        </div>
                        {#                    <p class="text-muted mb-2 text-sm mt-3">You made an extra {{ extra_recouvrement }} this Monthly</p>#}
                        {#                    <div class="progress" style="height: 7px">#}
                        {#                        <div class="progress-bar bg-brand-color-3" role="progressbar" style="width: {{ progress_recouvrement }}%" aria-valuenow="{{ progress_recouvrement }}"#}
                        {#                             aria-valuemin="0" aria-valuemax="100"></div>#}
                        {#                    </div>#}
                    </div>
                </div>
            </div>

            <!-- Total CMU -->
                     <div class="col-md-3 col-sm-12">
                <div class="card statistics-card-1 overflow-hidden bg-brand-color-4">
                    <div class="card-body">
                        <img width="100" src="{% static 'assets/images/logo_cnam.png' %}" alt="img"
                             class="img-fluid img-bg"/>
                        <h5 class="mb-4 text-dark">CMU à Recouvrer </h5>
                        <div class="d-flex align-items-center mt-3">
                            <h2 class="text-dark f-w-300 d-flex align-items-center m-b-0"><span x-text="stats.total_cmu.toLocaleString('fr-FR') "></span><span style="margin-left: 10px">F CFA</span>
                                </h2>
                        </div>
{#                                            <p class="text-white text-opacity-75 mb-2 text-sm mt-3">You made an extra {{ extra_cmu }} this Daily</p>#}
{#                                            <div class="progress bg-white bg-opacity-10" style="height: 7px">#}
{#                                                <div class="progress-bar bg-white" role="progressbar" style="width: {{ progress_cmu }}%" aria-valuenow="{{ progress_cmu }}" aria-valuemin="0"#}
{#                                                     aria-valuemax="100"></div>#}
{#                                            </div>#}
                    </div>
                </div>
            </div>


                     <div class="col-md-6 col-xl-3">
                <div class="card statistics-card-1 overflow-hidden bg-purple-900 ">
                    <div class="card-body">
                        <img src={% static "assets/images/widget/img-status-7.svg" %} alt="img"
                             class="img-fluid img-bg"/>
                        <div class="d-flex align-items-center">
                            {#          <img src={% static "assets/images/widget/img-facebook.svg" %} alt="img" class="img-fluid" />#}
                            <div class="flex-grow-1 ms-3">
                                <p class="mb-0 text-green-100">Actes Reduits à Recouvrer
                                </p>
                                <div class="d-inline-flex align-items-center">
                                    <h2 class="f-w-300 d-flex align-items-center m-b-0 text-green-100"><span
                                            x-text="stats.total_acte_reduit.toLocaleString('fr-FR') "></span> <span style="margin-left: 10px">F CFA</span></h2>
                                    {#              <span class="badge bg-success ms-2">+7.2%</span>#}
                                </div>
                            </div>
                        </div>
{#                        <div class="row g-3 mt-5 text-center">#}
{#                            <div class="col-6">#}
{#                                <p class="mb-0 text-muted">Objectif</p>#}
{#                                <h5 class="mb-0">Non définit</h5>#}
{#                            </div>#}
{#                            <div class="col-6 border-start">#}
{#                                <p class="mb-0 text-muted">Période</p>#}
{#                                <h5 class="mb-0">Non définit</h5>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
                     <div class="col-md-6 col-xl-3">
                <div class="card statistics-card-1 overflow-hidden bg-pink-900">
                    <div class="card-body">
                        <img src={% static "assets/images/widget/img-status-8.svg" %} alt="img"
                             class="img-fluid img-bg"/>
                        <div class="d-flex align-items-center">
                            {#          <img src={% static "assets/images/widget/img-google.svg" %} alt="img" class="img-fluid" />#}
                            <div class="flex-grow-1 ms-3">
                                <p class="mb-0 text-green-100">Cas Sociaux à Recouvrer
                                </p>
                                <div class="d-inline-flex align-items-center">
                                    <h2 class="f-w-300 d-flex align-items-center m-b-0 text-green-100">
                                        <span x-text="stats.total_cas_sociaux.toLocaleString('fr-FR') "></span> <span style="margin-left: 10px">F CFA</span></h2>
                                    {#              <span class="badge bg-success ms-2">+5.9%</span>#}
                                </div>
                            </div>
                        </div>
{#                        <div class="row g-3 mt-5 text-center">#}
{#                            <div class="col-6">#}
{#                                <p class="mb-0 text-muted">Objectif</p>#}
{#                                <h5 class="mb-0">Non définit</h5>#}
{#                            </div>#}
{#                            <div class="col-6 border-start">#}
{#                                <p class="mb-0 text-muted">Période</p>#}
{#                                <h5 class="mb-0">Non définit</h5>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
                     <div class="col-md-6 col-xl-3 ">
                <div class="card statistics-card-1 overflow-hidden bg-yellow-300">
                    <div class="card-body">
                        <img src={% static "assets/images/widget/img-status-9.svg" %} alt="img"
                             class="img-fluid img-bg"/>
                        <div class="d-flex align-items-center">
                            {#          <img src={% static "assets/images/widget/img-twitter.svg" %} alt="img" class="img-fluid" />#}
                            <div class="flex-grow-1 ms-3">
                                <p class="mb-0 text-muted">Gratuités Ciblées à Recouvrer
                                </p>
                                <div class="d-inline-flex align-items-center">
                                    <h2 class="f-w-300 d-flex align-items-center m-b-0 "><span
                                            x-text="stats.total_gratuite_ciblee.toLocaleString('fr-FR') "></span><span style="margin-left: 10px">F CFA</span></h2>
                                    {#              <span class="badge bg-success ms-2">+6.2%</span>#}
                                </div>
                            </div>
                        </div>
{#                        <div class="row g-3 mt-5 text-center">#}
{#                            <div class="col-6">#}
{#                                <p class="mb-0 text-muted">Objectif</p>#}
{#                                <h5 class="mb-0">Non définit</h5>#}
{#                            </div>#}
{#                            <div class="col-6 border-start">#}
{#                                <p class="mb-0 text-muted">Période</p>#}
{#                                <h5 class="mb-0">Non définit</h5>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
                     <div class="col-md-6 col-xl-3 ">
                <div class="card statistics-card-1 overflow-hidden bg-teal-900">
                    <div class="card-body">
                        <img src={% static "assets/images/widget/img-status-2.svg" %} alt="img" class="img-fluid img-bg"/>
                        <div class="d-flex align-items-center">
                            {#          <img src={% static "assets/images/widget/img-twitter.svg" %} alt="img" class="img-fluid" />#}
                            <div class="flex-grow-1 ms-3">
                                <p class="mb-0 text-yellow-100 ">Autres Assurances à Recouvrer
                                </p>
                                <div class="d-inline-flex align-items-center">
                                    <h2 class="f-w-300 d-flex align-items-center m-b-0 text-yellow-100">
                                        <span x-text="stats.total_hors_cmu.toLocaleString('fr-FR') "></span>
                                        <span style="margin-left: 10px">F CFA</span>
                                    </h2>
{#                                                  <span class="badge bg-success ms-2">+6.2%</span>#}
                                </div>
                            </div>
                        </div>
{#                        <div class="row g-3 mt-5 text-center">#}
{#                            <div class="col-6">#}
{#                                <p class="mb-0 text-muted">Objectif</p>#}
{#                                <h5 class="mb-0">Non définit</h5>#}
{#                            </div>#}
{#                            <div class="col-6 border-start">#}
{#                                <p class="mb-0 text-muted">Période</p>#}
{#                                <h5 class="mb-0">Non définit</h5>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
                 </div>
            </div>



            <!-- Carte avec accordéon imbriqué -->

       <div class="col-md-12 col-xl-4 mb-3">
    <div class="card text-white bg-secondary">
        <div class="card-inner p-3">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Etablissements connectés</th>
                        <th style="text-align: right"><span class="text-dark">{{ nmbreservices }}</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for type_service in services_by_type %}
                        <tr>
                            <td class="text-white">
                                <span class="text-success">{{ type_service.acronyme }}</span>
                                <span data-toggle="tooltip" data-placement="left" title="{{ type_service.nom }}"></span>
                            </td>
                            <td class="text-success text-right" style="text-align: right">{{ type_service.total_services }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">Aucun établissement trouvé.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <!-- Pôles Régionaux -->
                    <template x-for="pole in stats.poles" :key="pole.centre_sante__district__region__poles__id">
                        <div class="accordion-item">
                            <h1 class="accordion-header" :id="'flush-heading-' + pole">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        :data-bs-target="'#flush-collapse-' + pole.centre_sante__district__region__poles__id"
                                        aria-expanded="false"
                                        :aria-controls="'flush-collapse-' + pole.centre_sante__district__region__poles__id">
                <span class="badge bg-primary text-white float-left position-relative m-r-10">
                    <span x-text="pole.total_recette.toLocaleString('fr-FR') || 0"></span>F CFA</span>
                                    </span>
                                    <span x-text="pole.centre_sante__district__region__poles__name"></span>
                                </button>
                            </h1>

                            <div :id="'flush-collapse-' + pole.centre_sante__district__region__poles__id"
                                 class="accordion-collapse collapse"
                                 :aria-labelledby="'flush-heading-' + pole.centre_sante__district__region__poles__id"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body bg-light-secondary scrollregion">
                                    <!-- Régions Sanitaires -->
                                    <template
                                            x-for="region in stats.regions.filter((r, index, self) => r.centre_sante__district__region__poles__id === pole.centre_sante__district__region__poles__id)"
                                            :key="region.centre_sante__district__region__id">
                                        <div class="mt-4">
                                            <strong class="mb-2 mt-5 text-danger">
                                                <span x-text="region.centre_sante__district__region__name"></span>
                                                <span class="badge bg-danger text-white float-right"
                                                      x-text="region.total_recette.toLocaleString('fr-FR') + ' F CFA'"></span>
                                                <!-- Ajout des attributs data-lat et data-lng -->
                                            </strong>

                                            <!-- Districts Sanitaires -->
                                            <ul class="list-group mt-2">
                                                <template
                                                        x-for="district in stats.districts.filter(d => d.centre_sante__district__region__id === region.centre_sante__district__region__id)"
                                                        :key="district.centre_sante__district__id">
                                                    <div class="col-md-12">
                                                        <ol class="list-group">
                                                            <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
                                                                <div class="ms-2 me-auto">
                                                                    <div class="fw-bold text-primary"
                                                                         x-text="district.centre_sante__district__nom"></div>
                                                                    <!-- Bouton pour zoomer sur le district -->

                                                                    <!-- Centres de Santé -->
                                                                    <ul class="m-r-5">
                                                                        <template
                                                                                x-for="centre in stats.centres.filter(c => c.centre_sante__district__id === district.centre_sante__district__id)"
                                                                                :key="centre.centre_sante__id">
                                                                            <a href="#!">
                                                                                <li @click="zoomLocalite(centre)"
                                                                                    class="d-flex justify-content-between align-items-start  text-dark mt-3 text-sm"
                                                                                    style="font-size: xx-small; text-align: left;">
                                                                                    <span x-text="centre.centre_sante__nom"></span>
                                                                                    <span style="margin-left: 10px"
                                                                                          class="badge bg-secondary"
                                                                                          x-text="centre.total_recette ? centre.total_recette.toLocaleString('fr-FR')  + ' F CFA' : '0 F CFA'"></span>
                                                                                </li>
                                                                            </a>
                                                                        </template>
                                                                    </ul>
                                                                </div>
                                                                <span class="badge bg-primary rounded-pill"
                                                                      x-text="district.total_recette.toLocaleString('fr-FR') + ' F CFA'"></span>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </template>
                                            </ul>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>


            </div>

           <div class="col-12 col-md-7 col-xl-8 numbers mb-3">
    <div class="card">
        <div class="card-header">
            <h5>Cartographie des centres de santé connectés au SIH/DPI</h5>
        </div>
        <div class="card-body">
            <div id="map" class="map-responsive"></div>
        </div>
        <div class="card-footer">
            <h5>Légendes</h5>
        </div>
    </div>
</div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-6 col-xl-6">
        <div class="card table-card">
            <div class="card-header d-flex align-items-center justify-content-between py-3">
                <h5>Top 10 des Districts par Performance global</h5>
            </div>
            <div class="card-body py-2 px-0">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless table-sm mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Districts</th>
                            <th> Visites</th>
                            <th> Recettes</th>
                            <th> Recouvrements</th>
                            <th> CMU à Recouvrer </th>
                           <th>  Gratuiteés ciblées</th>
                            <th> Cas sociaux</th>
                            <th> Actes reduits</th>
                            <th> Autres assurances  </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for district  in top_districts %}
                            <tr>
                                <td>{{ forloop.counter|ordinal }}</td>
                                <td>
                                    {#                                            {% if change == 'up' %}#}
                                    {#                                            <span class="arrow-up"><i class="ti ti-arrow-up-right text-success"></i></span>#}
                                    {#            {% elif change == 'down' %}#}
                                    {#                <span class="arrow-down"><i class="ti ti-arrow-down-left text-danger"></i></span>#}
                                    {#            {% elif change == 'new' %}#}
                                    {#                <span class="new-rank"><i class="ti ti-arrow-up-right text-success"></i></span>#}
                                    {#                                                 {% else %}#}
                                    {#        <span>&rarr; Same</span>#}
                                    {#            {% endif %}#}
                                    {{ district.centre_sante__district__nom }}
                                </td>
                                <td>{{ district.total_visite }}</td>
                                <td>{{ district.total_recette|floatformat:0 }}</td>
                                <td>{{ district.total_recouvrement|floatformat:0 }}</td>
                                <td>{{ district.total_cmu|floatformat:0 }}</td>
                                <td>{{ district.total_gratuite_ciblee|floatformat:0 }}</td>
                                <td>{{ district.total_cas_sociaux|floatformat:0 }}</td>
                                <td>{{ district.total_acte_reduit|floatformat:0 }}</td>
                                <td>{{ district.total_hors_cmu|floatformat:0 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-6">
    <div class="card table-card">
        <div class="card-header d-flex align-items-center justify-content-between py-3">
            <h5>Top District Performants par Pôle Régional</h5>
        </div>
        <div class="card-body py-2 px-0">
            <div class="table-responsive">
                <table class="table table-hover table-borderless table-sm mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Pôle Régional</th>
                            <th>District</th>
                            <th>Total Recettes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pole, district in top_perform_districts_by_pole.items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ pole.name }}</td>
                                <td>{{ district.nom }}</td>
                                <td>{{ district.total_recette|floatformat:0 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <!-- Total Visite Chart -->
    <div class="col-md-12 col-xl-12">
        <div class="card table-card bg-light-secondary">
        <div class="card-body py-2 px-3">
            <div class="table-responsive">
                <form method="GET" id="filter-form" class="form-inline d-flex align-items-center justify-content-start">
                    <!-- Type de Service Sanitaire -->
                    <div class="col-md-2 mr-5">
                        <label for="id_type_service" class="mr-2">{{ filter_form.type_service.label_tag }}</label>
                        {{ filter_form.type_service }}
                    </div>
                    <!-- Année -->
                    <div style="margin-left: 10px"  class="col-md-2 mr-5">
                        <label for="id_year" >{{ filter_form.year.label_tag }}</label>
                        {{ filter_form.year }}
                    </div>
                    <!-- Semestre -->
                    <div style="margin-left: 10px"  class="col-md-2 mr-5">
                        <label for="id_semester" class="mr-2">{{ filter_form.semester.label_tag }}</label>
                        {{ filter_form.semester }}
                    </div>
                    <!-- Trimestre -->
                    <div style="margin-left: 10px"  class="col-md-2 mr-3">
                        <label for="id_trimester" class="mr-2">{{ filter_form.trimester.label_tag }}</label>
                        {{ filter_form.trimester }}
                    </div>
                    <!-- Mois -->
                    <div style="margin-left: 10px" class="col-md-2 mr-3">
                        <label for="id_month" class="mr-2">{{ filter_form.month.label_tag }}</label>
                        {{ filter_form.month }}
                    </div>

                    <!-- Boutons Filtrer et Réinitialiser -->
                    <div style=" margin-top: 20px" class="col-md-2 d-flex flex-wrap gap-3">
                        <button type="submit" class="btn btn-primary ">Filtrer</button>
                        <button type="reset" class="btn btn-secondary " onclick="resetForm()">Reset</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{#        <div class="col-md-6 col-xl-6">#}
{##}
{#                <canvas id="visiteMensuelleChart"></canvas>#}
{##}
{#        </div>#}
{#        <!-- Total Recette Chart -->#}
{#        <div class="col-md-6 col-xl-6 ">#}
{##}
{#                <canvas id="recetteMensuelleChart"></canvas>#}
{##}
{#        </div>#}
{#        <!-- CMU Chart -->#}
{#        <div class="col-md-6 col-xl-6">#}
{##}
{#                <canvas id="cmuMensuelleChart"></canvas>#}
{##}
{#        </div>#}
{#        <!-- CMU Recouvremnet -->#}
{#        <div class="col-md-6 col-xl-6">#}
{##}
{#                <canvas id="recouvrementMensuelleChart"></canvas>#}
{##}
{#        </div>#}


    <div class="col-md-6 col-xl-6">
        <div id="visiteMensuelleChart"></div>
    </div>
    <div class="col-md-6 col-xl-6">
        <div id="recetteMensuelleChart"></div>
    </div>
    <div class="col-md-6 col-xl-6">
        <div id="cmuMensuelleChart"></div>
    </div>
    <div class="col-md-6 col-xl-6">
        <div id="recouvrementMensuelleChart"></div>
    </div>
</div>

