{% extends "partials/layout-without-nav.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
<div style="
    background-color: #32291f;
    background-image: url({% static 'assets/loginback.jpg' %});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    {#height: 100vh; #}
" class="auth-main v1">

  <div class="auth-wrapper">
      <div class="col-lg-12">
      <div class="row align-items-center">

          <div class="card">
              <div class="card-body">
                  <!-- Section Logos -->
                  <div class="d-flex flex-wrap justify-content-center align-items-center">
                      <!-- Logo République de Côte d'Ivoire -->
                      <div class="d-flex align-items-center m-2 text-center">
                          <img width="60" src="/static/assets/images/logoCI.png" alt="Logo CI" class="img-fluid">
                          <div class="ms-2">
                              <span>République de Côte d'Ivoire</span><br>
                              <span>Union - Discipline - Travail</span>
                          </div>
                      </div>

                      <!-- Logo Ministère de la Santé -->
                      <div class="d-flex align-items-center m-2 text-center">
                          <img width="60" src="/static/assets/images/logoMSHPCMU.svg" alt="Logo MSHPCMU"
                               class="img-fluid">
                          <div class="ms-3">
                              <span>Ministère de la Santé, de l'Hygiène Publique</span><br>
                              <span>et de la Couverture Maladie Universelle</span>
                          </div>
                      </div>
                  </div>

                  <!-- Titre Centré -->
                  <div class="text-center mt-3">
                      <span class="h3 text-uppercase">Tableau de bord de <strong
                              class="text-danger">#Gouvernance</strong></span>
                  </div>
              </div>
          </div>
      </div>
      </div>
    <form class="auth-form" action="{% url 'account_login' %}" method="POST">
      
      {% csrf_token %}
      <div class="card my-5">
        <div class="card-body">
          <div class="text-center">
            <img src={% static "assets/images/authentication/img-auth-login.png" %} alt="images" class="img-fluid mb-3" />
            <h4 class="f-w-500 mb-1"> Authentification</h4>
          </div>
          <div class="form-group mb-3">
            {{ form.login }}
          </div>
          <div class="form-group mb-3">
            {{ form.password}}
          </div>
          <div class="d-flex mt-1 justify-content-between align-items-center">
            <div class="form-check">
              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
              <label class="form-check-label text-muted" for="customCheckc1">Remember me?</label>
            </div>
{#            <a href="{% url 'account_reset_password' %}"><h6 class="f-w-400 mb-0">Forgot Password?</h6></a>#}
          </div>
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary">Connecter</button>
          </div>

        </div>
      </div>
    </form>
    {% include "partials/component/auth-footer-block.html" %}
  </div>
</div>
{% endblock content %}