{% load static %}
<!doctype html>
<html lang="en">
<!-- [Head] start -->

<head>
  {% include './component/head-page-meta.html' %}
  <!-- map-vector css -->
  {% block css1 %} {% endblock %}
  {% include './component/head-css.html' %}
</head>
<!-- [Head] end -->

<body class="layout-modern" data-pc-preset="preset-1" data-pc-sidebar-theme="light" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">
  {% include './component/layout-detached.html' %}
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      {% include './component/breadcrumb.html' %}
      {% block content %} {% endblock %}
    </div>
  </div>
  <!-- [ Main Content ] end -->
  {% block content2 %}{% endblock %}
  {% include './component/footer-block.html' %}
  {% include './component/footer-js.html' %}
  {% include './component/customizer.html' %}
  {% block js %} {% endblock %}
</body>
<!-- [Body] end -->

</html>