{% extends "partials/layout.html" %} 
{% load static %}
{% load unicorn %}
{% unicorn_scripts %}

{% block css1 %}
    <script src="{% static 'unicorn/unicorn.js' %}"></script>
<link rel="stylesheet" href={% static "assets/css/plugins/jsvectormap.min.css" %} type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />

{% endblock css1 %}
{% block content %}
    <style>
        #map {
            width: 100%;
            height: 600px;
            position: relative;
            z-index: 1;

        }
    </style>
    <div class="row">

    <div style="height: 100px" class="col-12"></div>
        <div class="row align-items-center">
            <div align="center" style="height: 70px" class="col-16 mb-3 mt-5">

                <span class="h3 text-uppercase">Tableau de bord de <strong class="text-danger">#Gouvernance</strong></span>



            </div>
        </div>
    </div>


    <div class="card">

        <div id="filters">
            {% csrf_token %}
            {% unicorn 'unicorn_filter_filters' %}
        </div>
    </div>

{% endblock content %}
{% block js2 %}
<!-- [Page Specific JS] start -->
<script src={% static "assets/js/plugins/apexcharts.min.js" %}></script>
{#<script src={% static "assets/js/plugins/jsvectormap.min.js" %}></script>#}
{#<script src={% static "assets/js/plugins/world.js" %}></script>#}
{#<script src={% static "assets/js/plugins/world-merc.js" %}></script>#}
<script src={% static "assets/js/pages/dashboard-default.js" %}></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="https://unpkg.com/terraformer@1.0.7"></script>
<script src="https://unpkg.com/terraformer-wkt-parser@1.1.2"></script>

<script>
    // Initialize the map and set its view to a default location and zoom level
    var map = L.map('map').setView([7.54, -5.55], 7); // Example coordinates

    // Add OpenStreetMap tiles as the base layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.afriqconsulting.com">AfriqConsulting</a> DASHBOARD',
        maxZoom: 18,
    }).addTo(map);

    // Function to add markers based on synthese data
    function addMarker(synthese) {
        if (synthese.centre_sante && synthese.centre_sante.geometry) {
            try {
                // Clean the WKT geometry and parse it into GeoJSON
                var cleanedWKT = synthese.centre_sante.geometry.replace(/^SRID=\d+;/, '');
                var geoJSON = Terraformer.WKT.parse(cleanedWKT);

                // Get the coordinates from the parsed GeoJSON object
                var lat = geoJSON.coordinates[1];
                var lng = geoJSON.coordinates[0];

                // Create a marker and bind popup
                var marker = L.marker([lat, lng]).addTo(map)
                    .bindPopup(`
                        <b>${synthese.centre_sante.properties.nom}</b><br>
                        Total Visite: ${synthese.total_visite}<br>
                        Total Recette: ${synthese.total_recette}<br>
                        Date: ${synthese.date}
                    `);

                marker.addTo(map); // Add the marker to the map
            } catch (error) {
                console.error(`Erreur lors de l'analyse GeoJSON pour le centre : ${synthese.centre_sante.properties.nom}`, error);
            }
        } else {
            console.error(`Données de géométrie invalides pour le centre : ${synthese.centre_sante.properties.nom}`);
        }
    }

    // Fetch the synthese data from the API and add markers
    fetch('dash/api/synthese/')
        .then(response => response.json())
        .then(data => {
            data.forEach(synthese => {
                addMarker(synthese); // Add marker for each health center
            });
        })
        .catch(error => console.error('Erreur lors de la récupération des données de synthèse:', error));
</script>

{#<script>#}
{#        var coteDIvoireBounds = [#}
{#            [4.35, -8.60], // Sud-Ouest (Point le plus au sud)#}
{#            [10.73, -2.51] // Nord-Est (Point le plus au nord)#}
{#        ];#}
{##}
{#        var epidemieId = '{{ epidemie_id }}'; // ID de l'épidémie#}
{#        var epidemieNom = '{{ epidemie_nom }}'; // Nom de l'épidémie#}
{##}
{#        var carteCI = L.map('carteCI', {#}
{#            maxBounds: coteDIvoireBounds, // Définir les limites maximales#}
{#            maxBoundsViscosity: 1.0, // Contrôle la "viscosité" des bords#}
{#            minZoom: 7 // Définir le zoom minimum#}
{#        }).setView([7.54, -5.55], 7);#}
{##}
{#        // Invalidate the size after map initialization#}
{#        carteCI.invalidateSize();#}
{##}
{#        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {#}
{#            maxZoom: 18,#}
{#            attribution: '&copy; <a href="https://www.afriqconsulting.com">AfriqConsulting</a> EPIDEMITRACKER'#}
{#        }).addTo(carteCI);#}
{##}
{#        var markers = L.markerClusterGroup(); // Initialiser le groupe de clusters pour les marqueurs#}
{##}
{#        function getMarkerColor(patient) {#}
{#            if (patient.decede) {#}
{#                return 'black'; // Décédé#}
{#            } else if (patient.gueris) {#}
{#                return 'green'; // Guéri#}
{#            } else if (patient.echantillons && patient.echantillons.some(e => e.resultat === true)) {#}
{#                return 'red'; // Positif#}
{#            } else {#}
{#                return 'orange'; // Autres#}
{#            }#}
{#        }#}
{##}
{#        let markers_points = [];#}
{##}
{#        function addMarker(patient) {#}
{#            if (patient.commune && patient.commune.geom) {#}
{#                try {#}
{#                    var cleanedWKT = patient.commune.geom.replace(/^SRID=\d+;/, '');#}
{#                    var geoJSON = Terraformer.WKT.parse(cleanedWKT);#}
{#                    var centroid = L.geoJSON(geoJSON).getBounds().getCenter();#}
{##}
{#                    var markerColor = getMarkerColor(patient);#}
{##}
{#                    var myIcon = L.divIcon({#}
{#                        className: 'custom-div-icon',#}
{#                        html: `<div class='circle-marker' style='background-color: ${markerColor};'></div>`, // Couleur basée sur le statut#}
{#                        iconSize: [30, 30],#}
{#                        iconAnchor: [15, 15]#}
{#                    });#}
{##}
{#                    var age = patient.date_naissance ? calculateAge(patient.date_naissance) : 'Inconnu';#}
{##}
{#                    var marker = L.marker(centroid, {icon: myIcon})#}
{#                        .bindPopup(` Localité : ${patient.commune.name}<br> <b>Code Patient : ${patient.code_patient}</b><br>Âge: ${age} ans <br>Sexe: ${patient.genre || 'Inconnu'}<br>Statut: ${patient.status || 'Inconnu'}`)#}
{#                        .on('mouseover', function () {#}
{#                            this.bindTooltip(` Localité : ${patient.commune.name}<br> Code Patient :${patient.code_patient}<br>Âge: ${age} ans<br>Sexe: ${patient.genre || 'Inconnu'}<br>Statut: ${patient.status || 'Inconnu'}`, {#}
{#                                direction: 'top',#}
{#                                offset: [0, -10],#}
{#                                opacity: 0.8#}
{#                            }).openTooltip();#}
{#                        })#}
{#                        .on('mouseout', function () {#}
{#                            this.closeTooltip();#}
{#                        });#}
{##}
{#                    markers.addLayer(marker);#}
{##}
{#                } catch (error) {#}
{#                    console.error(`Erreur lors de l'analyse GeoJSON pour le patient : ${patient.nom} ${patient.prenoms}`, error);#}
{#                }#}
{#            } else {#}
{#                console.error(`Données de localisation invalides pour le patient : ${patient.nom} ${patient.prenoms}`);#}
{#            }#}
{#        }#}
{##}
{#        function calculateAge(date_naissance) {#}
{#            var today = new Date();#}
{#            var birthDate = new Date(date_naissance);#}
{#            var age = today.getFullYear() - birthDate.getFullYear();#}
{#            var monthDifference = today.getMonth() - birthDate.getMonth();#}
{#            if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {#}
{#                age--;#}
{#            }#}
{#            return age;#}
{#        }#}
{##}
{#        let patientgroup = L.layerGroup();#}
{#        let district = L.layerGroup(); // Groupement des polygones des districts#}
{#        var geoLayer = L.geoJSON().addTo(district);#}
{##}
{#        // Style par défaut pour les polygones#}
{#        var myStyle = {#}
{#            color: "red",#}
{#            weight: 1,#}
{#            opacity: 0.80,#}
{#            fillColor: '#FF6347'#}
{#        };#}
{##}
{#        geoLayer.setStyle(myStyle);#}
{##}
{#        // Fetch and display districts#}
{#        fetch('/api/districts/')#}
{#            .then(response => response.json())#}
{#            .then(data => {#}
{#                L.geoJSON(data, {#}
{#                    style: { color: 'blue', weight: 2 }#}
{#                }).addTo(district);#}
{#            })#}
{#            .catch(error => console.error('Error fetching districts:', error));#}
{##}
{#        // Fetch and display health centers (ServiceSanitaire)#}
{#        fetch('/api/services/')#}
{#            .then(response => response.json())#}
{#            .then(data => {#}
{#                L.geoJSON(data, {#}
{#                    pointToLayer: function (feature, latlng) {#}
{#                        return L.marker(latlng).bindPopup(`Center: ${feature.properties.nom}`);#}
{#                    }#}
{#                }).addTo(healthCenterLayer);#}
{#            })#}
{#            .catch(error => console.error('Error fetching services:', error));#}
{##}
{#        // Fetch and display activity synthesis#}
{#        fetch('/api/synthese/')#}
{#            .then(response => response.json())#}
{#            .then(data => {#}
{#                data.forEach(synthese => {#}
{#                    addMarkerForSynthesis(synthese);#}
{#                });#}
{#            })#}
{#            .catch(error => console.error('Error fetching synthese data:', error));#}
{##}
{#        var layerControl = L.control.layers(overlayMaps).addTo(carteCI);#}
{##}
{#</script>#}
<!-- [Page Specific JS] end -->
{% endblock js2 %}