{% load static %}
<div class="auth-sidefooter">
  <img width="100" src={% static "assets/images/cropped-afriqconusultinglogo.png" %} class="img-brand img-fluid" alt="images" />
  <hr class="mb-3 mt-4" />
  <div class="row">
    <div class="col my-1">
      <p class="m-0">Réaliser par <a href="#!" target="_blank"> AfriqConsulting</a></p>
    </div>
    <div class="col-auto my-1">
      <ul class="list-inline footer-link mb-0">
        <li class="list-inline-item"><a href="#!">Home</a></li>
        <li class="list-inline-item"><a href="#!" target="_blank">Documentation</a> </li>
        <li class="list-inline-item"><a href="#!" target="_blank">Support</a></li>
      </ul>
    </div>
  </div>
</div>
