{% load static %}
<div class="auth-sidefooter ">
  <hr class="mb-3 mt-4" />
  <div class="row ">
    <div class="col my-1">
        <div class="d-flex justify-content-center align-items-center text-center">
            <a href="http://afriqconsulting.com" target="_blank" class="text-decoration-none"><img width="100" src="{% static 'assets/images/cropped-afriqconusultinglogo.png' %}"
                 class="img-brand img-fluid me-2" alt="images"></a>
            <p class="m-0">
                Réalisé par
                <a href="http://afriqconsulting.com" target="_blank" class="text-decoration-none">AfriqConsulting</a>
            </p>
        </div>
    </div>
</div>
</div>
