<!-- [ Header Topbar ] start -->
<header class="pc-header">
    <div class="m-header">
      <a href="/dashboard" class="b-brand text-primary">
        <!-- ========   Change your logo from here   ============ -->
        <img src="/static/images/logo-white.svg" alt="logo image" class="logo-lg" />
        <span class="badge bg-brand-color-2 rounded-pill ms-2 theme-version">{{ pc_theme_version }}</span>
      </a>
    </div>
    <div class="header-wrapper"> {% include "./header-content.html" %} </div>
  </header>
  <!-- [ Header ] end -->
  